body{
    font-family: 'Roboto', sans-serif;
    background-color:	#FFFFCC ;
    margin-left: 10px;
}
h1{
    text-align: center;
    color: white;
    background-color: rgb(153,0,0);
    border-bottom: 10px solid red;
    letter-spacing: 12px;
    font-style: italic;
    margin-bottom: -10px;

}

h3{
    color: white;
    background-color: #21A421;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

li{
    color: #D12010;
    font-style: italic;
}
a{
    text-decoration: none;
    color: rgb(220, 6, 220) ;
}
img{
    width: 100px;
    height: 80px;
    padding-left: 20px;
}

.googlelogo{
    width: 200px;
    height: 80px;
    border: 3px dotted grey;
    background-color: white;
}

h4{
    color: rgb(161, 154, 154);
}

table,tr,td{
    border: 1px solid black;
    font-size: 11px;
}
td{
    background-color: rgb(204, 204, 204);
}

textarea{
    overflow-y: scroll;
}

button{
    background-color: rgb(201, 201, 188);
    border: 1px solid grey;
    font-size: 12px;
}